* {box-sizing: border-box;}

body {
	font-family: 'Helvetica', 'Arial', sans-serif;
}

h1 {
	font-size: 350%;
	color: #125718;
	text-align: center;
	font-style: bold;
	font-family: 'Bree Serif', 'Helvetica', sans-serif;
}
h1:hover {
	color: #72b350;
}

img {
	width: 100%;
	padding: 0;
	margin: 0;
}

.paragraph {
	background-image: url("../images/paragraph-craft.jpg");
	background-color: #deffde;
	padding: 0;
	position: relative;
	hyphens: auto;
	border-radius: 28px;
}

.box-header {
	position: absolute;
	right: 0;
	/*float: right;*/
	top: 0px;
	background-color: #125718;
	padding: 7px 17px 10px;
	color: white;
	font-family: 'Bree Serif', 'Helvetica', sans-serif;
	font-size: 150%;
	text-align: center;
	border-radius: 0px 0px 0px 15px;
}

.box-header:hover {
	background-color: #659e47;
}

.box-description {
	clear: both;
	margin: 5px;
	padding: 8px 10px 15px 15px;
}

.row {
	width: 100%;
}

/*---Desktop version---*/
@media (min-width: 992px) {
	.col-lg-4 {
		width: 33%;
		float: left;
	}
}

/*---Tablet version---*/
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 {
		float: left;
	}
	#container3 {
		width: 100%;
	}
	#container1, #container2 {
		width: 50%;
	} 	
}

/*---Mobile version---*/
@media (max-width: 767px) {
	.col-sm-12 {
		width: 100%;
		float: left;
	}
}