* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: 'Cabin', sans-serif;
	font-size: 16px;
}

h1 {
	font-size: 350%;
	color: #125718;
	text-align: center;
	font-family: 'Bree Serif', 'Helvetica', sans-serif;
	margin: 26px;
}

/*.header-nav {
	background-color: #d6c3b0;
}

.container li {
	list-style-type: none;
	float: right;
	overflow: hidden;
	display: block;
	text-align: center;
	padding: 12px 12px 12px 18px;
	font-size: 120%;
	background-color: #125718;
	text-decoration: none;
}

.container li:hover {
  background-color: #72b350;
}

.paragraph {
	background-image: url("../images/paragraph-craft.jpg");
	background-color: #deffde;
	padding: 0;
	position: relative;
	hyphens: auto;
	border-radius: 24px;
}

.box-header {
	position: absolute;
	right: 0;
	/*float: right;*/
/*	top: 0px;
	background-color: #125718;
	padding: 7px 17px 10px;
	color: white;
	font-family: 'Bree Serif', 'Helvetica', sans-serif;
	font-size: 150%;
	text-align: center;
	border-radius: 0px 0px 0px 15px;
}

.box-header:hover {
	background-color: #659e47;
}

.box-description {
	clear: both;
	padding: 8px 10px 15px 15px;
	font-size: 120%;
}
*/
