* {box-sizing: border-box;}

body {
	font: Helvetica, Arial, sans-serif;
}

.row {
	width: 100%;
}

p {
	background-color: #deffde;
	padding: 10px;

}

/*---Desktop version---*/
@media (min-width: 992px) {
	.col-lg-4 {
		width: 33%;
		float: left;
	}
}

/*---Tablet version---*/
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 {
		width: 50%;
		float: left;
	}
}

/*---Mobile version---*/
@media (max-width: 767px) {
	.col-sm-12 {
		width: 100%;
	}
}